body {
  background: #fff;
  color: #1d1d67;
  font-family: Figtree;
  font-size: 23px;
  font-weight: 700;
  margin: 0px;
}

header h1 {
  font-size: 23px;
  margin: 0px;
}
header {
  background: #1d1d67;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.headertop {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background: #82ff8b;
}

.card h2 {
  font-family: "Cherry Swash", serif;
  color: #1d1d67;
  font-size: 15px;
  font-weight: 400;
}

.text {
  display: flex;
  flex-direction: column;
}
